{{ define "header"}}
<header>
  <h1>Trombinoclock</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/promos">Promotions</a></li>
      <li><a href="/students">Students</a></li>
    </ul>
  </nav>
</header>
{{ end }}
